@model IEnumerable<MusicFall2016.Models.Artist>
@{
    ViewData["Title"] = "Albums";
}
<h2>Album List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Artist</th>
            <th>Bio</th>
        </tr>
    </thead>
    @foreach (var artist in Model)
    {
        <tr>
            <td>@artist.Name</td>
            <td>@artist.Bio</td>
        </tr>
    }
</table>
<div>
    <a href="/Artists/Create" class="btn btn-success">Add Another</a>
</div>