@model MusicFall2016.Models.Album
@{
    ViewData["Title"] = "Add Album";
}
<h2>Enter a new Album</h2>
<div class="form">
    <form asp-action="Create" class="form-horizontal">
        <div class="from-group">
            <label asp-for="Title" class="col-sm-2">Album Name: </label>
            <div class="col-sm-10">
                <input asp-for="Title" class="form-control" autofocus />
            </div>
            <label asp-for="ArtistID" class="col-sm-2">Artist: </label>
            <div class="col-sm-10">
                <select asp-for="ArtistID"
                        asp-items="ViewBag.Artist">
                </select>
            </div>
            <label asp-for="GenreID" class="col-sm-2">Genre: </label>
            <div class="col-sm-10">
                <select asp-for="GenreID"
                        asp-items="ViewBag.Genre">

                </select>
            </div>
            <label asp-for="Price" class="col-sm-2">Price: $</label>
            <div class="col-sm-10">
                <input asp-for="Price" class="form-control" autofocus />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
        </div>
    </form>
</div>